*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e2c6f;
    background-image: linear-gradient(43deg, #1e2c6f 0%, #2e5073 29%, #4770b7 83%, #a0b6ec 100%);
    
}
.container{
    display: flex;
    width: 96%;
    height: 90%;
    border-radius: 10px;
    max-width: 1360px;
    background-color:rgba(236,236,241);
    -webkit-box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.59);
-moz-box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.59);
box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.59);
}

.login-left{
    border-radius: 10px 0px 0px 10px;
    width: 67%;
    margin: 0;
    padding: 0;
}


.login-left>img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.login-right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    width: 33%;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    gap: 1.8rem;
}

.login-form-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.1rem;
    text-align: center;
}

.login-item{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 1.2rem;
    font-size: 0.875rem;
}

.error{
    position: absolute;
    bottom: 0;
    color: red;
    font-weight: 600;
    font-size: 0.875rem;
}
.input-user{
    background-color:rgba(236,236,241);
    height: 2.6rem;
    border-radius: 100px;
    outline: 0;
    padding: 10px;
    border: 1px solid black;
    font-size: 1rem;
}

.label-user{
    background-color:rgba(236,236,241);
    margin-bottom: 10px;
    position: absolute;
    margin-top: 11px;
    margin-left: 3px;
    padding: 0 6px;
    pointer-events: none;
    transition: 0.5s;
    border-radius: 50%;
}
.input-user:invalid ~ .label-user{
    transform:translate(20px, -20px);
    background-color: #1e2c6f;
}
.input-user:focus ~ .label-user
{
    transform:translate(20px, -20px);
}


button{
    border-radius: 100px;
    background-color: #1e2c6f;
    background-image: linear-gradient(43deg, #1e2c6f 0%, #2e5073 29%, #4770b7 83%, #a0b6ec 100%);
    color: white;
    text-transform: uppercase;
    font-size: 1.125rem;
    cursor: pointer;
    height: 40px;
    border: none;
}

.remember-me{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 4px;
}

input[type='checkbox']{
    width: 20px;
    height: 20px;
    accent-color: #1e2c6f;
}




.login-footer{
    display: flex;
    justify-content: space-evenly;
}
.login-footer>a{
    cursor: pointer;
}

.forgot-password{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    cursor: pointer;
}


/* MEDIA QUERY */
@media  (max-width: 960px) {
}

@media  (max-width: 768px) {
    .container{
        height: 80%;
        width: 80%;
        max-width: 600px;
    }
    
    .login-form-header{
        font-size: 1.7rem;
    }
    .forgot-password{
        font-size: 1rem;
    }
    .login-left{
        display: none;
    }
    .login-right{
        width: 100%;
    }
}


