*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgba(236,236,241);
}
.container{
    display: flex;
    width: 80%;
    height: 70%;
    border-radius: 10px;
    max-width: 1400px;
    border: solid 1px black;
    -webkit-box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.59);
-moz-box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.59);
box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.59);
}

.login-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    width: 33%;
    border: solid 1px black;
}

.login-info{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    gap: 1.8rem;
}

.email-box{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 1.2rem;
    font-size: 1.1rem;
}
.password-box{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 1.2rem;
    font-size: 1.1rem;
}

.error{
    position: absolute;
    bottom: 0;
    color: red;
    font-weight: 600;
    font-size: 0.97rem;
}
input{
    background-color:rgba(236,236,241);
    height: 2rem;
    outline: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.1rem;
}

.img-wrapper{
    border-radius: 10px 0px 0px 10px;
    width: 67%;
    margin: 0;
    padding: 0;
}

.img-wrapper>img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}